body {
	font-family: Arial;
	font-size: 17px;
}

/*Bootstrap col system*/
.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0px;
	background-color: #e6f3ff;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}

.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
/*End*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	font-size: 15px;
	background-color: #b9deff;;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	transition: 0.5s;
}

.accordion:hover:not(.active) {
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

.accordion button {
	text-align: left;
	padding: 18px;
	background-color: inherit;
	width: 90%;
	height: 100%;
	border: none;
	outline: none;
	color: inherit;
}

.accordion button.close{
	float:right;
	padding: 18px;
	background-color: inherit;
	width: 10%;
	height: 100%;
}

.subaccordion {
	font-size: 15px;
	background-color: white;
	color: #444;
	cursor: pointer;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 30px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.5s;
}

.subaccordion.active {
	background-color: blue;
	color: #black;
	transition: 0.5s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
	background-color: #0099f6;
	color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	background-color: white;
	display: none;
	overflow: hidden;
}

.frame-fixer {
	height: 90vh;
	margin-right: 50px;
	padding-top: 20px;
	padding-bottom: 0;
}

.frame {
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: #003990;
	position: relative;
	width: 95%;
	height: 80vh;
	margin-right: 50px;
	padding-right: 0px;
	padding-bottom: 0;
}

.sideBar {
	overflow-y: auto;
	height: 60vh;
}

/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #0099f6;
	color: white;
}

.tab {
	width: 100%;
	display: inline;
	overflow: hidden;
	background-color: #b9deff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	font-size: 15px;
	margin-right: 5px;
	border-radius: 10px 10px 0px 0px;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 16px;
	transition: 0.5s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #0099f6;
	color: white;
}

.tabcontent {
	background-color: white;
	display: none;
	overflow: hidden;
}

.btn {
	font-size: 15px;
	float: right;
	background-color: #b9deff;
	margin-right: 5px;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 8px 25px;
	transition: 0.5s;
}

button.upload_button {
	background-image: url("./img/upload_image.png") no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-button {
	float: right;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;	
	cursor: pointer;	
	border: none;
	outline: none;
	background-color: #e6f3ff;
}

.login-button:hover{
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

.login-button.active {
	background-color: #0099f6;
	color: white;
}