body {
	font-family: Arial;
	font-size: 17px;
}

/*Bootstrap col system*/
.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0px;
	background-color: #e6f3ff;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;

	margin-right: -15px;
	margin-left: -15px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}

.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
/*End*/

/*Top navigation bar*/
.topnav {
	overflow: hidden;
}

.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;
}

.topnav a:hover {
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

.topnav a.active {
	background-color: #0099f6;
	color: white;
}

.login-button {
	float: right;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: #e6f3ff;
}

.login-button:hover{
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

.login-button.active {
	background-color: #0099f6;
	color: white;
}
/*End*/

/*Side bar and accordion*/
.sideBar {
	overflow-y: auto;
	height: 60vh;
}

.accordion {
	font-size: 15px;
	background-color: #b9deff;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	transition: 0.5s;
}

.accordion:hover:not(.active) {
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

.accordion button {
	text-align: left;
	padding: 18px;
	background-color: inherit;
	width: 90%;
	height: 100%;
	border: none;
	outline: none;
	color: inherit;
}

button.delete{
	float:right;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 0px;
	background-color: inherit;
	width: 10%;
	height: 100%;
	color: inherit;
	font-size: 20px;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
}

.subaccordion {
	font-size: 15px;
	background-color: white;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	transition: 0.5s;
}

.subaccordion:hover:not(.active) {
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

.subaccordion.active {
	background-color: blue;
	color: #black;
	transition: 0.5s;
}

.subaccordion button {
	text-align: left;
	padding: 18px;
	background-color: inherit;
	width: 90%;
	height: 100%;
	border: none;
	outline: none;
	color: inherit;
}

.subaccordion button.delete{
	color: inherit;
	background-color: inherit;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 0px;
	width: 10%;
	height: 100%;
}

.active {
	background-color: #0099f6;
	color: white;
}

.panel {
	background-color: white;
	display: none;
	overflow: hidden;
}
/*End*/

/*Tab navigation*/
.tab {
	width: 100%;
	display: inline;
	overflow: hidden;
	background-color: #b9deff;
}

.tab button {
	font-size: 15px;
	margin-right: 5px;
	border-radius: 10px 10px 0px 0px;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 16px;
	transition: 0.5s;
}

.tab button:hover {
	background-color: #85d1ff;
	color: black;
	transition: 0.5s;
}

.tab button.active {
	background-color: #0099f6;
	color: white;
}

.tabcontent {
	background-color: white;
	overflow: hidden;
}
/*End*/

.frame-fixer {
	height: 90vh;
	margin-right: 50px;
	padding-top: 20px;
	padding-bottom: 0;
}

.frame {
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: #003990;
	width: 100%;
	margin-right: 50px;
	padding-right: 0px;
	padding-bottom: 0;
}

.btn {
	font-size: 15px;
	background-color: #b9deff;
	margin-right: 5px;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 8px 25px;
	transition: 0.5s;
}

.red {
	background-color: red;
	color: white;
}

.right {
	float: right;
}

button.upload_button {
	background-image: url("./img/upload_image.png") no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Modal*/
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: white;
	background-color: rgba(0,0,0,0.4);
	padding-top: 100px;
}
/* Modal Header */
.modal-header {
	padding: 2px 16px;
	margin-bottom: 20px; 
}

/* Modal Body */
.modal-body {padding: 8px 16px 5px 16px;}

/* Modal Footer */
.modal-footer {
	padding: 5px 16px 10px 16px;
	text-align: center;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 10px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.5s;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/*End*/

.icon {
	display: none;
}

@media screen and (max-width: 1000px) {
	.bar div {display: none;}
	.bar a.icon {
		float: left;
		display: block;
	}
}

@media screen and (max-width: 1000px) {
	.bar.responsive {
	}
	.bar.responsive a.icon {
		position: absolute;
		top: 0;
	}
	.bar.responsive div {
		float: none;
		display: block;
	}
}

input[type = text], input[type = password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline;
	border: 1px solid #ccc;
	box-sizing: border-box;

}

.login-btn{
	width: 40%;
	margin-bottom: 10px;
	background: #0099f6;
	color: white;
}
